*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: rgb(0, 0, 0);
}
.wrapper{
    height: 100px;
    width: 360px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0 );
    border-radius: 10px;
    animation: ani 1.5s linear infinite;
}
.wrapper .display,
.wrapper span{
    position: absolute;
    top: -34%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.wrapper .display{
    position: absolute;
    top: -34%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 999;
    background-color: rgb(0, 0, 0);
    height: 85px;
    width: 345px;
    border-radius: 60x;
    text-align: center;
    }
.wrapper .display #time{
    line-height: 85px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: ani 1.5s linear infinite;
}
@keyframes ani {
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.wrapper span{
    height: 100px;
    width: 100px;
    background: inherit;
}
.wrapper span:first-child{
    filter: blur(109px);
}
.wrapper span:last-child{
    filter: blur(90px);
}